
.search-container {
    display: inline-flex;
    align-items: center;
   
    border-radius: 4px;
    overflow: hidden;
    justify-content: center;
    gap:0px;
    position: relative;
    left:500px;
}

.search-input {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 250px;
    outline: none;
    border-radius:8px;
}

.search-button {
    background-color:#333;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color:#333;
}  